.vscode
.idea
.local
.env
build/kubernetes-controller
cmd/controller/controller
.test/*
.envrc
__debug_bin*
controller
test/integration/*/certlists
test/integration/*/certs
test/integration/*/patterns
ci/k0s/k0s-data/
