global
 stats socket unix@./socket level admin
 stats timeout 1m
 log stdout local0 info
 tune.lua.bool-sample-conversion normal
 lua-load routes.lua

defaults
 mode http
 timeout client 10s
 timeout connect 1s
 timeout server 10s
 log global
 option httplog

frontend fe4
 bind *:8014
 http-request set-var(txn.routes) path,map(routesv4.map)
 http-request lua.routesv4
 use_backend %[var(txn.backend)]
 default_backend e

backend a
 http-request return status 200 content-type text/plain lf-string "a - %[var(txn.random)] - %[var(txn.backend)]"

backend b
 http-request return status 200 content-type text/plain lf-string "b - %[var(txn.random)] - %[var(txn.backend)]"

backend c
 http-request return status 200 content-type text/plain lf-string "c - %[var(txn.random)] - %[var(txn.backend)]"

backend d
 http-request return status 200 content-type text/plain lf-string "d - %[var(txn.random)] - %[var(txn.backend)]"

backend e
 http-request return status 200 content-type text/plain lf-string "e - %[var(txn.random)] - %[var(txn.backend)]"
